@media screen and (max-width: 768px) {

@font-face {
    font-family: Doloman Pavljenko Light;
    src: url(fonts/DolomanPavljenko.otf);
}
.blogdanik {
    font-family: Doloman Pavljenko Light, 'DolomanPavljenko', regular;
}

body {
	font-family: Doloman Pavljenko Light, 'DolomanPavljenko';
	margin: 0;
	padding: 0;
	background-color: #B9BFD7;
}

.partner{
    overflow: hidden;
}

header {
	background-color: #697A98;
	display: flex;	
	align-items: center;	
	flex-direction: column;
	border-radius: 0px 0px 0px 0px;
	height: 105px;
	transform: translateX(-150%);
 animation: ani-header 1.5s forwards;
}

.hea1{
  color: #B9BFD7;
}

.hea2{
  color: #B9BFD7;
  margin-top: 5px;
}

/* .forgive {
 color: #B9BFD7;
	background-color: #697A98;
	display: flex;	
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 0px 0px;
	height: 25px;
	transform: translateX(-150%);
 animation: ani-header 1.5s forwards;
} */

@keyframes ani-header {
 0% {transform: translateY(-100%);}
 100% {transform: translateX(0%);}
}

footer {
 color: #B9BFD7;
	background-color: #697A98;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 0px 0px;
	/* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
	transform: translateX(100%);
 animation: ani-footer 1.5s forwards;
 margin-top: 20px;
}

@keyframes ani-footer {
 0% {transform: translateY(100%);}
 100% {transform: translateX(0%);}
}

/* .slideheader

} */


.block1{
    border-radius: 2px;
    border: groove;
    border-width: 5px;
    border-color: #697A98;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    transform: translateX(-100%);
    animation: slide-in 1.5s forwards;
    
}

.block2{
    border-radius: 2px;
    border: groove;
    border-width: 5px;
    border-color: #697A98;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    transform: translateX(-100%);
    animation: slide-in-right 1.5s forwards;
    
}

.block3{
    border-radius: 2px;
    border: groove;
    border-width: 5px;
    border-color: #697A98;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    transform: translateX(-100%);
    animation: slide-in 1.5s forwards;
    
}

.block4{
    border-radius: 2px;
    border: groove;
    border-width: 5px;
    border-color: #697A98;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    transform: translateX(-100%);
    animation: slide-in-right 1.5s forwards;
    
}

.block5{
    border-radius: 2px;
    border: groove;
    border-width: 5px;
    border-color: #697A98;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    transform: translateX(-100%);
    animation: slide-in 1.5s forwards;
    
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.blockpic1{
    position: relative;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}

.blockpic2{
    position: relative;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}

.blockpic3{
    position: relative;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}

.blockpic4{
    position: relative;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}

.blockpic5{
    position: relative;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}
